.infoBlock {
    display: none;
    opacity: 0;
    position: absolute;
    width: 90%;
    top: 175px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    transition: all 0.5s ease-out;
    animation: appearance 1s forwards;
}

.show {
    display: block;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}