.header {
    grid-area: header;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    min-height: 40px;
}

.header img {
    width: 40px;
    margin: 5px;
}

.loginBlock {
    float: right;
    font-size: 16px;
    padding: 5px;
}

.userLogin {
    margin: 5px;
    color: white;
}