.dialogs {
    display: grid;
    grid-template-columns: 10fr;
    height: 90%;
}

.dialogs>* {
    margin: 0 5px;
}

.dialogsItems {
    background-color: var(--light-blue-color);
    border-radius: 10px;
    height: 100%;
    margin-left: 0;
}

.messages {
    background-color: lightgray;
    border-radius: 10px;
    height: 100%;
}

.messageForm {
    display: inline-block;
    margin: 10px;
}

.messageForm button {
    margin-bottom: 5px;
    vertical-align: bottom;
}

.messageForm textarea {
    font-size: 16px;
    padding: 5px 15px;
    resize: none;
    border-radius: 10px;
    margin-right: 5px;
    height: 100%;
    background: none;
}