:root {
  --main-bg-color: #093d09;
  --secondary-color: #34579e;
  --dark-blue-color: #1d49aa;
  --light-blue-color: #7c9fe5;
}

body {
  background-size: 100%;
}

.app-wrapper-content {
  grid-area: content;
  background-color: transparent;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;

  width: 1200px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

a.active {
  color: gold;
  font-weight: bold;
  cursor: default;
}

.error {
  border: 2px solid red;
}