.item {
    margin: 10px 0;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.item img {
    margin-top: 5px;
    height: 60px;
    border-radius: 50%;
}

.mainText {
    font-size: 18px;
}


.username {
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    padding: 0 15px;
}