.usersWrapper {
    display: grid;
    grid-template-areas:
        'paginator' 'paginator';
    grid-template-columns: 5fr 5fr;
}

.user {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    margin: 10px 0;
    padding: 10px 0;
    height: 200px;
}

.user>* {
    max-height: 60%;
}

.avatar {
    margin: 10px 0;
}

.avatar div {
    text-align: center;
}

.userPhoto {
    height: 150px;
    border-radius: 50%;
}

.userInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.status {
    margin-top: 55%;
    color: lightslategray;
    font-size: 18px;
}

.locationInfo {
    margin-left: 10px;
}

.locationInfo>* {
    margin-left: 70%;
}

.notFound {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.friendsCheckbox {
    margin-left: 10px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

.checkboxText {
    display: inline;
    font-size: 110%;
}