.pageNumber {
    line-height: 38px;
    min-width: 38px;
    margin: 2.5px;
    padding: 2.5px;
    font-size: 20px;
}

.selectedPage {
    font-size: 24px;
    font-weight: bold;
    border-radius: 19px;
    background: var(--light-blue-color);
}

.user {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    margin: 10px 0;
    padding: 10px 0;
    height: 200px;
}

.user>* {
    max-height: 60%;
}

.avatar {
    margin: 10px 0;
}

.avatar div {
    text-align: center;
}

.userPhoto {
    height: 150px;
    border-radius: 50%;
}

.userInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.status {
    margin-top: 55%;
    color: lightslategray;
    font-size: 18px;
}

.locationInfo {
    margin-left: 10px;
}

.locationInfo>* {
    margin-left: 70%;
}